@use "sass:math";

// Sizes / breakpoints

$max-width: math.div(1200px, 16px) * 1rem;
$max-text-width: 36rem;
$typography-expand: math.div(680px, 16px) * 1rem;
$wide-columns: math.div(960px, 16px) * 1rem;
$gallery-expand: math.div(720px, 16px) * 1rem;

// Mixins

@mixin section($max: $max-width, $min: 0) {
  max-width: $max;
  margin: 4rem $min;

  @media screen and (min-width: calc($max + 2rem)) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $gallery-expand) {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}

@mixin subtext() {
  margin: 0.5rem 4rem;
  text-align: center;
  font-size: 0.875rem;
  font-style: italic;
  color: #ccc;
}
