@import 'variables';

.container {
  @include section($max-text-width);

  // margin-top: 4rem;
  border-top: 1px solid #333;
  padding-top: 2rem;
}

.footerContent {
  font-size: .75rem;
  color: #999;

  text-align: center;

  a {
    color: $bright;
  }
}
