@import 'variables';

.container {
  @include section($min: 0.5em);
}

.thumbPanel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: $gallery-expand) {
    &[data-row] {
      flex-wrap: nowrap;

      .thumbLink {
        height: initial !important;
      }
    }
  }

  @media screen and (min-width: calc($max-width + 3rem)) {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
}

.thumbLink {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0.5rem;

  width: calc(50% - 1rem);
  flex-grow: 1;

  @media screen and (min-width: $gallery-expand) {
    width: auto;
    height: 250px;
    max-width: calc(50% - 1rem); // @TODO: Debating this one...
  }
}

.thumbImg, .thumbImgPreview {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.thumbImgPreview {
  position: absolute;
  z-index: 0;
}

.thumbImg {
  position: relative;
  z-index: 1;
}

.footerPanel {
  @include subtext();
}
