@import 'variables';

.container {
  @include section($max-width);
}

.textPanel {
  text-align: center;

  h1 {
    font-size: 4rem;
    @media (min-width: $typography-expand) {
      font-size: 10rem;
    }
  }
}
