@import 'variables';

.container {
  max-width: $max-width;
  margin: 2rem auto;

  @media screen and (min-width: $gallery-expand) {
    margin: 4rem auto;
  }
}

.photoPanel {

}

.photo {
  margin: 0 auto;
  max-height: 90vh;
  width: 100%;

  object-fit: contain;
}

.footerPanel {
  text-align: center;
  font-size: 0.875rem;
  margin: 0.5rem 4rem;
}
